{% extends 'products/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}500 | AgroSite{% endblock %}

{% block content %}
<div class="hero-section" style="background: url('/static/images/1245.png') no-repeat center center/cover;">
    <div class="hero-content text-center">
        <h1 style="color: #FFAD00;">{% trans "500 - Erreur du serveur" %}</h1>
        <p class="lead" style="color: white;">{% trans "Oups ! Quelque chose a mal tourné. Nous travaillons pour résoudre le problème." %}</p>
        <a href="{% url 'home' %}" class="btn btn-success btn-lg mt-4">{% trans "Retour à l'accueil" %}</a>
    </div>
</div>
{% endblock %}
